@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes blink {
  50% { opacity: 0; }
}

.typing-cursor {
  display: inline-block;
  margin-left: 2px;
  animation: blink 1s step-start infinite;
}
